/* Basic styling for the Gym Management System */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color:#210a86;
}

header {
    background-color: #210a86;
    color: rgb(255, 255, 255);
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    
}

nav ul li {
    display: inline;
    margin: 0 10px;
    
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

h1 {
    margin-bottom: 0.5rem;
}

section {
    padding: 2rem;
    margin: 2rem;
}

.highlights ul, .about-us ul {
    list-style: none;
    padding: 0;
}

.highlights li, .about-us li {
    margin: 5px 0;
}

.membership-plans {
    display: flex;
    justify-content: space-around;
}

.plan {
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
}
img{
    width: 700px;
    height: 370px;
   margin-left: 400px;;
    margin-top: -190px !important;
}

footer {
    text-align: center;
    background-color: #17085a;
    color: white;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
